html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.navigation {
  height: 50px;
  width: 100%;
  display: block;
  background: #7a3130;
  img {
    max-height: 50px;
  }
}

.map-container {
  position: absolute;
  top: 50px;
  bottom: 0;
  width: 100%;
  .map {
    height: 100%;
  }
}