$dark-red: #7a3130;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.navigation {
  height: 50px;
  width: 100%;
  display: block;
  background: $dark-red;
  img {
    max-height: 50px;
  }
}

.map-container {
  position: absolute;
  top: 50px;
  bottom: 0;
  width: 100%;
  .map {
    height: 100%;

    .location-description {
      width: 300px;
      min-height: 100px;
      a {
        color: $dark-red;
        font-weight: normal;
        font-size: 1em;
        &:hover {
          text-decoration-style: dashed;
        }
      }
    }
  }
}